section {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  20px;
    background-color: #D9A679;
}

.logo img {
    display: block; 
    height: 24px; 

}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu ul li {
    margin: 0;
}

#menu ul li a {
    padding: 14px 20px;
    color: #A63C3C;
    text-decoration: none;
    font-weight: bold;
}

#menu ul li a:hover{
    background-color: #55555520;
}

#home {
    background-color: #252026;
    display: flex;
}


#fotoAmanda {
    background-image: url("assets/photos/amanda.jpeg");
    width: 650px;
    height: 970px;
    background-size: cover;
    background-position: 90% 100%;
}

.homeTitulo {
    color: #FFFFFF;
    font-family: "Rubik Mono One", sans-serif;
    font-size:3.75rem;
    font-weight: 400;
    width: 425px;
    height: 140px;
    margin-top: 275px;
    margin-left: 546px;
    line-height: 100%;
    letter-spacing: 30%;
}

.homeDev {
    color: #B6B6B6;
    font-family: "rubik", sans-serif;  
    font-size: 2.19rem;
    font-weight: 400;
    width: 341px;
    height: 48px;
    margin-left: 548px; 
    line-height: 100%; 
    letter-spacing: 0%;
    display: inline;
}

.curriculo {
    width: 220px;
    height: 47px;
    background: #A63C3C;
    border: none;
    border-radius: 8px;
    margin-left: 550px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 500;

    img {
        width: 15px;
        height: 20px;
    }

    p {
        font-size: 1.375rem;
        padding: 10px;
    }
}



#sobreMim {
    background-color: #f6caa4;
}

#skills {
    background-color: #E0D7C8;
}

#projetos {
    background-color: #A66E4E;
}

#contatos {
    background-color: #A63C3C;
}