* {
    font-family: "Rubik", sans-serif
}

section {
    height: 100vh;
}

#menu {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 14px  63px;
    background-color: #D9A679;
    box-shadow: 0px 4px 4px 0px #00000025;
}

#menuLinks {
    display: flex;

    a {
      padding: 14px 20px;
    color: #A63C3C;
    text-decoration: none;
    font-weight: bold;  
    }
}

#menuLinks a:hover{
    background-color: #55555520;
}

#home {
    background-color: #252026;
    padding: 60px 0px;

    h1 {
        color: #FFFFFF;
        font-family: "Rubik Mono One", sans-serif;
        font-size: 3.8rem;
        font-weight: 400;
        /* width: 425px;
        height: 140px;
        margin-top: 275px;
        margin-left: 546px;
        line-height: 100%;
        letter-spacing: 30%; */
    }

    h2 {
        color: #B6B6B6;
        font-size: 2.4rem;
        font-weight: 400;
        /* width: 341px;
        height: 48px;
        margin-left: 548px; 
        line-height: 100%; 
        letter-spacing: 0%;
        display: inline; */
    }
}

/* #fotoAmanda {
    background-image: url("assets/photos/amanda.jpeg");
    width: 650px;
    height: 970px;
    background-size: cover;
    background-position: 90% 100%;
} */

.downloadButton{
    background-color: #A63C3C;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px 14px;
    color: #FFFFFF;
    border-radius: 8px;

    a {
        padding-left: 11px;
    }
}



#sobreMim {
    background-color: #f6caa4;
}

#skills {
    background-color: #FFFFFF;
}



#contatos {
    background-color: #A66E4E;
}